.tasks-form {
  display: block;
  width: 300px;
  margin: auto;
  font-family: 'Roboto', sans-serif;

  &__heading {
    color: #b3b3ff;
    text-align: center;
  }

  &__header {
    text-align: center;
  }

  &__task-remove-icon {
    font-size: 16px;
  }
}

