<section class="tasks-form mat-elevation-z2">
  <section class ="tasks-form__header">
    <h1 class="tasks-form__heading">tasks list</h1>
    <mat-form-field>
      <input class="tasks-form__task-input" matInput
      autofocus="" [(ngModel)]="newTask.title" (keyup.enter)="addTask()">
    </mat-form-field>
    <mat-divider></mat-divider>
</section>
  <section class="tasks-form__view" *ngIf="tasks.length > 0">
    <ul class="tasks-form__task-list">
      <li class="tasks-form__task-field" *ngFor="let task of tasks">
        <label class="tasks-form__task">{{task.title}}</label>
        <button class="tasks-form__task-remove-button"
          mat-icon-button color="primary" (click)="removeTask(task)">
          <mat-icon class = "tasks-form__task-remove-icon">delete</mat-icon>
        </button>
      </li>
    </ul>
  </section>
</section>
